.timeTable{
    margin-top:10px;
    tablelayout: "fixed";
    width:800px;
}

.submitButton{
    margin-top: 10px;
    width: 150px;
    height: 70px;
    font-weight: 600;
    color: white;
    font-size: large;
    background-color: #F19681;
    border-radius: 25px;
    border: 2px solid #F19681;
}

.fileUpload {
    display: none;
}

.customFileUpload {
 position: absolute;
 left:8px;
 top:90px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #F19681;
}