.timeTable{
    text-align:center;
    width:800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.submitButton{
    margin-top: 10px;
    width: 150px;
    height: 70px;
    font-weight: 600;
    color: white;
    font-size: large;
    background-color: #F19681;
    border-radius: 25px;
    border: 2px solid #F19681;
}