.downloader{
    height:42px;
    width:106px;
    color:white;
    background-color:#F19681;
    border:none;
    font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: 0;
          display: table;
          margin: 15px auto;

}